img{
  width: 300px;
}
#div1{
    background-color: blueviolet;
    width: 50%;
    min-width: 500px;
    max-width: 700px;
}
#div2{
    background-color: darkgoldenrod;
    width: 665px;
    min-width: 800px;
    max-width: 1000px;
}
#div3{
    background-color: lightcoral;
    width: 50%;
    min-width: 400px;
    max-width: 800px;

}
#div4{
    background-color: cornflowerblue;
    width: 60%;
    height: vh;
}
#h1{
    background-color: beige;
    min-width: 300px;

}


@media only screen and(min-width: 500px)
and(max-width: 700px){
    body{
        background-color: blue;
    }
}
@media only screen and(min-width:700px)
   and(max-width:1200px) {
    body{
        background-color: crimson;
    }
    h1{
        color:darkcyan
    }
   }
@media only screen and(min-width:1200px)
{
    body{
        background-color: yellow;
    }
    h1{
        color: white;
    }
}